---
layout: default
---

<article class="post">
  {% assign latest_post = site.posts.first %}
  
  {% if latest_post %}
    <h1 class="post-title"><a href="{{ latest_post.url }}">{{ latest_post.title }}</a></h1>
    <p class="post-date">{{ latest_post.date | date: "%d %B %Y" }}</p>

    <div class="entry">
      {{ latest_post.content }}
    </div>

    <div class="post-navigation">
      <a href="mailto:comments@tacticsjournal.com?subject=Re:%20{{ latest_post.title | uri_escape }}&body={{ site.url }}{{ latest_post.url | uri_escape }}">Reply</a>
      <a href="#top">Back to top</a>

      <script>
        function copyToClipboard() {
          const url = document.URL;
        }
      </script>

      <a href="mailto:?subject={{ latest_post.title }}&body={{ site.url }}{{ latest_post.url }}">Email this post</a>
      {% include copylink.html %} 

  </div>
    <div class="subscribe-section">
    <div class="subscribe-section-header">Subscribe</div>
      <div class"subscribe-text" style="line-height: 1.4;">Receive all new posts by email.</div>
      <form action="https://buttondown.com/api/emails/embed-subscribe/TacticsJournal" 
      method="post" 
      target="_blank"
      id="subscribeForm">

    <div class="form-container">
        <input type="email" name="email" id="email" placeholder="Enter your email..." required>

        <button type="submit" id="subscribeButton">
            <svg width="15" height="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 50 L40 80 L90 20" stroke="black" stroke-width="15" fill="none"/>
            </svg>
        </button>
    </div>
    </form>
  </div>
  {% else %}
    <p>No posts available.</p>
  {% endif %}
  
  <div class="archive">
  {% assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in grouped_posts %}
    <div class="archive-year">
      {% assign first_month_displayed = false %}
      {% assign month_posts = year.items | group_by_exp: "post", "post.date | date: '%B'" %}
      
      {% for month in month_posts %}
        <div class="year-month">
          {% if first_month_displayed == false %}
            <h3 class="year">{{ year.name }}</h3>
            {% assign first_month_displayed = true %}
          {% else %}
            <h3 class="year-placeholder"></h3>
          {% endif %}
          <h3 class="month">{{ month.name }}</h3>
        </div>

        <ul class="archive-list">
          {% for post in month.items %}
            {% assign day = post.date | date: '%-d' %}
            {% assign last_digit = day | slice: -1 %}
            {% assign suffix = 'th' %}
            
            {% if day != '11' and day != '12' and day != '13' %}
              {% if last_digit == '1' %}
                {% assign suffix = 'st' %}
              {% elsif last_digit == '2' %}
                {% assign suffix = 'nd' %}
              {% elsif last_digit == '3' %}
                {% assign suffix = 'rd' %}
              {% endif %}
            {% endif %}

            <li>
              <div class="post-title-archive">
                <a href="{{ post.url }}">{{ post.title | strip_html | escape }}</a>
                <span class="dots-archive"></span>
              </div>
              <span class="post-date-archive">{{ day }}{{ suffix }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</article>

<script>
  function goToHomePage() {
    var searchTerm = document.getElementById("search-input").value;
    window.location.href = "/?search=" + encodeURIComponent(searchTerm);
  }

  document.getElementById("all-posts-link").addEventListener("click", function(e) {
    e.preventDefault();
    goToHomePage();
  });
</script>

<script src="/js/suggest.js"></script>
<script src="/js/search.js"></script>