---
# Front matter comment to ensure Jekyll properly reads file.
---

header { 
  padding-bottom: 5px;
  border-bottom: 1px #A9A9A9;
  border-style: none none dashed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  text-align: center;
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;

  a {
    margin-left: 20px;
    color: #333;
    text-align: right;
    font-weight: 300;
    margin: 0px 5px;
    text-decoration: none;
    }
}

@media screen and (min-width: 570px) {
  nav { 
   margin-left: auto;
   font-size: 20px;
   width: fit-content;
  }
}

@media screen and (min-width: 570px) {
  .post-title {
   font-size: 2em !important;
  }
}

.site-avatar img { 
  width: 80px;
}

.site-info {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: helvetica, serif;
  color: #333;
  font-size: 1em;
  background: #fff;
}

#wrapper {
  width: 860px;
  margin: 10px auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.blog-title {
  padding-bottom: 0;
  margin-right: 8px;
  display: inline;
  font-size: 20px;
  margin: 0;

  a {
    color: #333;
    text-decoration: none;

    &:hover,
    &:focus {
      text-shadow: #ffc8c8 0 0 1px;
    }
  }
}

.blog-author {
  display: inline;
  vertical-align: baseline;
  font-style: italic;
  margin: 0;
  font-size: 15px;
}

.blog-slogan {
  clear: both;
  margin-top: 0;
  color: #848484;
  margin-left: 2px;
  margin-bottom: 60px;
  margin: 0;
}

.post-info {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.post-image {
  width: 100px; /* adjust to desired size */
  height: auto; /* maintain aspect ratio */
  margin-right: 10px;
}

.title-and-date {
  display: flex;
  flex-direction: column;
}

h2,
h3,
h4,
h5 {
  position: relative;
  font-family: helvetica, serif;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 28px;

  a {
    color: #555;
  }
}

h3 {
  font-size: 1.2em;
  margin-top: 32px;
  margin-left: -30px;
  padding-left: 30px;
}

h4 {
  margin-left: -25px;
  padding-left: 25px;
}

h5 {
  font-size: 1.1em;
  margin-left: -25px;
  padding-left: 25px;
}

h3 a,
h4 a,
h5 a {
  position: absolute;
  left: -5px;
  top: -10px;
  text-decoration: none;
  display: none;
  padding: 10px;
}

h3:hover a,
h4:hover a,
h5:hover a,
h3:focus a,
h4:focus a,
h5:focus a {
   display: block;
}

ol li,
ul li {
  margin-bottom: 7px;
  line-height: 1.4;
}

ul ul,
ol ol,
ol ul,
ul ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 1.4;
}

a {
  color: #004c64;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #004c64;
}

hr {
  border: 0.5px solid #d6d6d6;
  margin-bottom: 30px;
  margin-top: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figcaption {
   font-style: italic;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

strong code {
  background: #ffc;
}

.superhero strong {
  background: none !important;
}

code {
  font-family: Courier, monospace;
  font-size: 0.9em;
  background: #e0e0e0;
  padding: 1px 4px;
}

pre {
  background: rgb(200, 200, 200);
  margin-left: -6px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 1px;
  border-radius: 4px;

  code {
    font-size: 0.9em;
    display: block;
    overflow: auto;
    background: rgb(100, 100, 100);
    padding-left: 10px;
    color: #eee;
    border: 2px solid #fff;
    border-radius: 3px;
    padding-bottom: 18px;
  }
}

blockquote,
cite {
  quotes: "\201C" "\201D" "\2018" "\2019";
  float: left;
  clear: both;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 22px;
  margin-left: 10px;
  border-left: 1px solid #A9A9A9;
  line-height: 1.4
}

blockquote p {
  display: inline;
  float: left;
  margin-top: 0;
  margin-left: 30px;
}

cite {
  float: none;
  line-height: 1.4;
}

#toc {
  position: fixed;
  top: 40px;
  left: 0;
  font-size: .8em;
  background: #f5f5f5;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  width: 260px;
  z-index: 100;
  display: none;

  ul {
    margin-left: 20px;
    padding-left: 0;
    padding-right: 10px;
  }

  li {
    margin-bottom: 10px;
    list-style: none;

    &:before {
      content: '- ';
    }
  }
}

.footnote {
  font-size: 0.75em;
  color: #666;

  sup {
    color: #f06;
    margin-right: 5px; 
  }
}

.post {
  position: relative;

  > h2 {
    margin-top: 60px;
    margin-right: 130px;
  }
}

.meta {
  color: #555;
  font-size: 0.75em;
  position: absolute;
  top: 18px;
  right: 0;
}

.entry {
  margin-bottom: 20px;
  font-family: pt-serif-pro, serif;
  font-style: normal;
  font-weight: 400;
  margin-top: -10px;

    p, ol li, ul li {
     font-size: 18px;
     list-style-type: lower-alpha;
    }
}

.post-title {
   font-size: 1.25em;
   margin-bottom: 5px;
}

#carbonads-container {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  clear: both;
}

.ad {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 0.75em;

  a {
    color: #aaf;
  }
}

// Search

.highlight {
  background-color: yellow;
  font-weight: bold;
}

#post-list {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 0;
}

.post-item {
  padding-left: 0px;
  
    a {
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
    p {
      margin-top: 5px;
      font-family: pt-serif-pro, serif;
      font-size: 18px;
  }
}

.date-separator first-date-separator {
  margin-top: 0px;
}

.date-separator {
  margin-bottom: 20px;
  font-size: 15px;
  color: #848484;
  border-bottom-width: 1px;
  border-bottom-color: rgb(169, 169, 169);
  border-style: none none dashed; 
  margin-top: 40px;
  
  p {
    margin: 5px;
  }
}

#search-input { 
  border: 0;
}

.container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.searchInput input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}

.searchInput.active {
  padding-bottom: 10px;
} 

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  margin-top: -10px;
  padding: 5px 5px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 4px 8px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  list-style-type: none;
}

.searchInput.active .resultBox li{
  display: block;
  font-size: 12px;
}

.suggestion-item {
  font-size: 10px;
  padding-bottom: 0px;
}

.searchInput {
  position: relative;
}

.resultBox {
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: #Fecccc;
  border-top: none;
  max-height: 250px;
  overflow-y: auto;
  width: 150px;
  font-size: 10px;
  font-weight: bold;
}

.resultBox:empty {
  display: none;
}

.Post-Search {
  padding-top: 10px;
}

#result-count {
font-size: 12px;
color: #999; 
margin-left: 8px;
margin-top: -20px;
  
  a {
   color: #999; 
  } 
}

#all-posts-link {
font-size: 12px;
color: #999; 
margin-left: 8px;
margin-top: -20px;
  
  a {
   color: #999; 
  } 
}

// NEW STYLES

.posts .date,
.posts .num-words {
  margin-left: 5px;
}

.posts {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;

  li {
    list-style: none;
    transition: all 0.1s;

    &.hidden {
      height: 0;
      overflow: hidden;
      opacity: 0;
      margin-bottom: 0;
    }
     a { 
      color: #000;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .poster {
    width: 100px;
    vertical-align: top;
  }

  .num-words {
    float: right;
    color: #ccc;

    em {
      color: #888;
    }
  }

  .popular,
  .new {
    position: relative;
  }

  .popular:before {
    content: 'popular';
    position: absolute;
    top: -1px;
    left: -60px;
    font-size: 0.7em;
    border-radius: 5px;
    background: rgb(155, 177, 213);
    color: #fff;
    padding: 3px 6px;
    font-family: Helvetica, sans-serif;
  }

  .new:before {
    content: 'new';
    position: absolute;
    top: -1px;
    left: -45px;
    font-size: 0.7em;
    border-radius: 5px;
    background: rgb(152, 203, 74);
    color: #fff;
    padding: 3px 6px;
    font-family: Helvetica, sans-serif;
  }
}

.popular-tag {
  font-size: 0.7em;
  border-radius: 5px;
  background: rgb(155, 177, 213);
  color: #fff;
  padding: 3px 6px;
  font-family: Helvetica, sans-serif;
}

.gist .highlight {
  font-size: 14px !important;
}

.gist .task-list {
  font-size: 14px !important;
  font-style: italic;
}

.gist-meta {
  opacity: 0;
  transition: all 0.1s;
}

.gist-file {
  border: 0 !important;
}

.gist:hover .gist-meta {
  opacity: 1;
}

.post-date,
.post-num-words {
  float: right;
  font-style: italic;
  color: #888;
  margin-top: 10px;
  font-size: 0.9em;
  
}

.post-num-words span {
  color: #ccc;
}

.post-date:after {
  content: '\b7';
  margin-right: 10px;
  margin-left: 7px;
}

.front-page-content {
  margin: 10px auto;
  position: relative;
}

.filter {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 0.8em;
  border-bottom: 1px dashed #A9A9A9;
  padding-bottom: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  text-align: center;
  justify-items: center;
}

.filter a {
 text-decoration: none;  
 color: #A9A9A9;
 font-weight: bold;
}

.topic.selected {
  border-radius: 5px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

.floated {
  float: left;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 10px;
}

.back-to-front {
  position: absolute;
  top: 8px;
  left: -65px;
  text-decoration: none;
  font-size: 0.9em;
}

.back-to-front:hover,
.back-to-front:focus {
  text-decoration: underline;
}

.content {
  position: relative;
}

.toc {
  margin-bottom: 30px;
}

.donations-in-post {
  font-size: 0.8em;
  background: #eee;
  padding: 5px 10px;
  line-height: 30px;
  margin-top: 20px;

  iframe {
    position: relative;
    top: 6px;
    left: 10px;
  }
}

.footer .container { 
   background: rgb(238, 238, 238);
}


.footer {
  background: #eee;
  line-height: 40px;
  font-size: 0.8em;

  .wrapper {
    width: 860px;
    margin: 0 auto;
    background: rgb(238, 238, 238);
  }

  iframe {
    position: relative;
    top: 5px;
    left: 5px;
  }

  .donations {
    float: right;
  }
}

.discord-logo {
   display: inline-block; 
   float: left; 
   margin-right: 0px;
}

.discord-footer {
   display: flex;
   align-items: center;
   padding-bottom: 30px;
}
      

// Post Navigation 

.post-navigation {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px solid #A9A9A9;
    border-style: dashed; 
    border-left: none; 
    border-right: none;
    border-top: none;
     
    a { 
  display: block;
  margin-bottom: 10px;
   }

  .read-more {
    font-style: italic;
    font-size: 15px;
    margin: 10px;
  }
}

.PageNavigation {
   padding-top: 20px;
   padding-bottom: 20px;
}
.PageNavigation-Next {
   font-size: 14px;
   margin-top: 10px;
   padding-bottom: 10px;

   p {
    font-weight: bold;
    margin: 0px;
  }
}

.PageNavigation-Previous {
   font-size: 14px;
   margin-top: 10px;

   p {
    font-weight: bold;
    margin: 0px;
  }
}

.related-posts {
   h3 { 
     margin-bottom: 10px;
     background: #FECCCC;
     padding-top: 10px;
     padding-bottom: 10px;
     text-shadow: 2px 2px white;
   }
   .posts-info {
     padding-bottom: 20px;
  }
   .posts { 
     font-weight: bold;
     text-decoration: none;
      a { 
        text-decoration: none;
      }
  }
}


// STICKY FOOTER

html,
body {
  height: 100%;
}

#outer-wrapper {
  min-height: 100%;
  // equal to footer height
  margin-bottom: -40px;
}

#outer-wrapper:after {
  content: "";
  display: block;
}

.footer,
#outer-wrapper:after {
  height: 40px;
}

@media screen and (max-width: 1000px) {
  #wrapper {
    margin: 20px;
    width: auto;
  }

  .footer {
    line-height: 30px;
    padding-top: 10px;
  }

  .footer .wrapper {
    width: auto;
    background: rgb(238, 238, 238);
    margin-left: 20px;
  }

  .footer .donations {
    display: block;
    float: none;
  }
  
  .Post-Search { 
    padding-bottom: 20px;
  }
  
  .num-words {
    display: block;
    float: none !important;
    margin-left: 0 !important;
  }

  .date {
    display: block;
    margin-left: 0 !important;
    font-weight: 400;
    font-size: 15px;
  }

  .popular:before {
    left: 0 !important;
  }

  .new:before {
    left: 15px !important;
  }

  .post-date,
  .post-num-words {
    float: none !important;
  }

  .post-date:after {
    content: '';
  }

  .post-date:before {
    content: '\b7';
  }

  .back-to-front {
    left: 0;
    top: -30px;
  }

  .footer,
  #outer-wrapper:after {
    height: 80px;
  }
}

// Smartphones (portrait and landscape)

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .filter {
    position: static !important;
  }

  .posts .popular:before {
    content: 'popular';
    position: static !important;
  }

  .posts .new:before {
    content: 'new';
    position: static !important;
  }

  .back-to-front {
    display: none;
  }

  #carbonads-container {
    float: none;
    margin-left: 0;
  }

  .blog-slogan {
    margin-bottom: 0px;
  }
}

.innertext code {
  background: none;
  padding: 0;
}
