{% if site.google_analytics %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    console.log("Document loaded");

    // Function to get a cookie by name
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            const cookieValue = parts.pop().split(';').shift();
            console.log(`Cookie "${name}" found with value: ${cookieValue}`);
            return cookieValue;
        }
        console.log(`Cookie "${name}" not found`);
        return null;
    }

    // Check if the cookie "cookie-notice-dismissed" is set
    const cookieValue = getCookie("cookie-notice-dismissed");
    if (cookieValue === "true") {
        console.log("Cookie 'cookie-notice-dismissed' is set to true. Loading GoatCounter script.");

        // Create a script element from a string and append it to the document
        const scriptString = '<script data-goatcounter="https://tacticsjournal.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>';
        document.head.insertAdjacentHTML('beforeend', scriptString);

        console.log("GoatCounter script added to the document.");
    } else {
        console.log("Cookie 'cookie-notice-dismissed' is not set to true. GoatCounter script will not be loaded.");
    }
});
</script>
{% endif %}
