{% if site.google_analytics %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    console.log("Document loaded");

    // Function to get a cookie by name
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            const cookieValue = parts.pop().split(';').shift();
            console.log(`Cookie "${name}" found with value: ${cookieValue}`);
            return cookieValue;
        }
        console.log(`Cookie "${name}" not found`);
        return null;
    }

    // Check if the cookie "cookie-notice-dismissed" is set
    const cookieValue = getCookie("cookie-notice-dismissed");
    if (cookieValue === "true") {
        console.log("Cookie 'cookie-notice-dismissed' is set to true. Loading GoatCounter script.");

        // Create a script element
        const script = document.createElement("script");
        script.setAttribute("data-goatcounter", "https://tacticsjournal.goatcounter.com/count");
        scriptElement.async = true; 
        script.src = "//gc.zgo.at/count.js"; // Note the src value without the protocol

        // Append the script to the body or head
        document.head.appendChild(script);

        console.log("GoatCounter script added to the document.");
    } else {
        console.log("Cookie 'cookie-notice-dismissed' is not set to true. GoatCounter script will not be loaded.");
    }
});
</script> 
{% endif %}
