<div style="display: flex; align-items: center; padding: 10px; margin-bottom: 5px;">
    <img src="
https://raw.githubusercontent.com/kyleboas/images/main/uploads/2024/07/30/Image-30Jul2024_01:02:42.png" alt="Image" style="width: 40px; margin-right: 10px;">
    <p style="font-size: 14px; margin: 0;">
        <a href="https://youtu.be/A_CPkCktBTQ?si=HsHuvxVcCnBy8_eb">Be Your Best</a> is the VR football app to improve your vision, decision making, & cognitive skills. <a href="https://www.portal.beyourbest.com/?via=tacticsjournal">Sign up.</a>
    </p>
</div>

