<script>
  var copyLink = document.getElementById("copy-link");
  copyLink.addEventListener("click", function(event) {
    event.preventDefault();
    navigator.clipboard.writeText("https://tacticsjournal.com/feed.xml/");
    
    var popup = document.createElement("div");
    popup.setAttribute("class", "popup");
    popup.innerText = "Link copied!";
    document.body.appendChild(popup);
    
    setTimeout(function() {
      popup.parentNode.removeChild(popup);
    }, 2000); // remove the popup after 2 seconds
  });
</script>



