<div class="footer">
 <div class="container">
  <div class="wrapper">
    <div class="copyright">
    Copyright © 2023 Tactics Journal - <a href="https://twitter.com/tacticsjournal/" target="_blank">Twitter</a> - <a href="mailto:tacticsjournal.com@gmail.com">Contact</a>
     <div class="discord-footer">
      <a href="https://discord.gg/pdnPS3u5hW" class="discord-logo">
        <img src="https://tacticsjournal.com/assets/47D13322-D40E-4A5E-ADA8-08926F453F7B.png?raw=true" style="width: 200px; margin-top: -20px; margin-left: -5px;">
      </a>
     </div>
    </div>
  </div>
 </div>
</div>
