<div class="footer">
 <div class="container">
  <div class="wrapper">
  <div class="footer-section">
    <div class="footer-link"><a href="https://tacticsjournal.com/policy/">Privacy Policy</a></div>
    <div class="footer-link"><a href="https://tacticsjournal.com/archive/">Archive</a></div>
     <div class="footer-link"><a href="https://tacticsjournal.com/sponsorship">Sponsorship</a></div>
    <div class="footer-link"><a href="https://tacticsjournal.com/recommended/">Recommended</a></div>
    <div class="footer-link"><a href="https://tacticsjournal.com/contact/">Contact</div>
    <div class="footer-link"><a href="https://tacticsjournal.com/key/">Key</a></div>
  </div> 
  <div class="footer-section">
    <div class="footer-section-header">Follow</div>
    <div class="footer-link"><a href="https://twitter.com/tacticsjournal" target="_top">Twitter</a></div>
    <div class="footer-link"><a href="https://facebook.com/TacticsJournal/" target="_top">Facebook</a></div>
    <div class="footer-link"><a href="https://www.threads.net/@tacticsjournal" target="_top">Threads</a></div>
    <div class="footer-link"><a href="https://bsky.app/profile/tacticsjournal.com" target="_top">BlueSky</a></div>
   </div>
 <div class="footer-section">
   <div class="footer-section-header">Community</div>
    <div class"footer-text">The Tactics Journal has a community on Discord where you can discuss football tactics with other readers. <a href="https://discord.gg/pdnPS3u5hW">Join.</a></div>
   </div> 
    <div class="copyright">
    <p>Copyright © 2023—2024 Tactics Journal</div>
     </a>
    </div>
  </div>
 </div>
</div>
