<meta charset="utf-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
<meta property="twitter:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}"/>
<meta property="twitter:description" content="{{ site.description }}"/>
{% endif %}

<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ site.title }}" />
<meta property="twitter:title" content="{{ site.title }}" />
{% endif %}

{% if page.url %}
<meta property="og:url" content="{{ page.url }}" />
<meta property="twitter:url" content="{{ page.url }}" />
{% else %}
<meta property="og:url" content="{{ site.url }}" />
<meta property="twitter:url" content="{{ site.url }}" />
{% endif %}
 
{% if site.logo %}
<meta property="og:image" content="{{ site.logo }}" />
{% endif %}

{% for post in site.posts limit:1 %}
{% if post.image %}
<meta property="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ post.image | prepend: site.baseurl | prepend: site.url }}" />
<meta property="twitter:image" content="{{ post.image | prepend: site.baseurl | prepend: site.url }}">
{% endif %}
{% endfor %}
