{% assign first_tag = page.tags | first %}

{% assign related_posts = site.posts | where_exp: "post", "post.tags.first == first_tag" | limit: 5 %}

{% if related_posts.size > 1 %}
<div class="related-posts">
  <h3>Latest posts about {{ first_tag }}</h3>
  <p>View all posts about {{ first_tag }} <a href="https://tacticsjournal.com/{{ first_tag | downcase | replace: ' ', '-' }}/">here</a>.</p>
  <ul>
    {% for post in related_posts %}
      {% if post.url != page.url %}
        <li>{{ post.date | date: "%d %B %Y" }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% else %}
 <div class="related-posts">
    <h3>Latest posts about {% if page.categories.first | slice: 0, 1 | downcase contains 'aeiou' %}the {% endif %}{{ page.categories.first }}</h3>
    <p>View all posts about the {{ page.categories.first }} <a href="https://tacticsjournal.com/{{ page.categories.first | downcase | replace: ' ', '-' }}">here</a>.</p>
    <ul>
      {% for post in site.categories[page.categories.first] limit:5 %}
        {% if post.url != page.url %}
          <li>{{ post.date | date: "%d %B %Y" }} - <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
