{% assign first_tag = page.tags | first %}

{% assign related_posts = site.posts | where_exp: "post", "post.tags.first == first_tag" | limit: 5 %}

{% if related_posts.size > 1 %}
<div class="related-posts">
  <h3>Latest posts about {{ first_tag }}</h3>
  <ul class="posts">
    {% for post in related_posts %}
      {% if post.url != page.url %}
        <div class="post-info">
            <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
           <div class="title-and-date">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
           </div>
         </div>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% else %}
 <div class="related-posts">
    <h3>Latest posts about other {{ page.categories.first }} teams</h3>
    <ul class="posts">
      {% for post in site.categories[page.categories.first] limit:5 %}
        {% if post.url != page.url %}
          <div class="post-info">
            <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
           <div class="title-and-date">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
           </div>
         </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
