<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - Tactics Journal{% else %}Tactics Journal{% endif %}</title>

    {% include favicon.html %}
     
    {% if site.tags != "" %}
    {% include collecttags.html %}
    {% endif %}

    {% include meta.html %}
    {% include json-ld.html %}

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <a id="top"></a>
    <div id="outer-wrapper">

      {% include header.html %}

      <div id="wrapper">
        
       <div class="front-page-content"> 
       
         {{ content }}
       </div>

      </div>
    </div>


    {% include footer.html %}
    
    <script src="/js/master.js" defer></script>
    <script src="/js/date.js" defer></script>
    <script src="/js/buttondown-subscribe.js" defer></script>
  </body>
</html>
