---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="entry">
   {{ content }}
  </div>


  <div class="post-navigation">
  <a href="#top">Back to top</a>
  <a href="#" onclick="copyToClipboard(); return false;">Share on Twitter</a>

<script>
function copyToClipboard() {
  const url = document.URL;
  navigator.clipboard.writeText(url).then(function() {
    window.open("https://twitter.com/intent/tweet?url=" + encodeURIComponent(url), "_blank");
  });
}
</script>
  <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}">Email this post</a>
  {% include copylink.html %}
  </div>

<div class="PageNavigation">
{% if page.next.url %}
<div class="PageNavigation-Next">
    <p>Next</p>
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a><br>
</div>
{% endif %}

{% if page.previous.url %}
<div class="PageNavigation-Previous">
    <p>Previous</p>
    <a class="previous" href="{{page.previous.url}}">{{page.previous.title}}</a>
</div>
{% endif %}
</div>

<input type="text" id="search-input" placeholder="Search...">
<button onclick="goToHomePage()">Go</button>

<script>
  function goToHomePage() {
    var searchTerm = document.getElementById("search-input").value;
    window.location.href = "/?search=" + encodeURIComponent(searchTerm);
  }
</script>

  {% include disqus.html %}
</article>

