---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="entry">
   {{ content }}
  </div>


  <div class="post-navigation">
  <a href="#top">Back to top</a>
  <a href="#" onclick="copyToClipboard(); return false;">Share on Twitter</a>

<script>
function copyToClipboard() {
  const url = document.URL;
  navigator.clipboard.writeText(url).then(function() {
    window.open("https://twitter.com/intent/tweet?url=" + encodeURIComponent(url), "_blank");
  });
}
</script>
  <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}">Email this post</a>
  {% include copylink.html %}
  </div>

<div class="PageNavigation">
   <input type="text" id="search-input" placeholder="Search...">
   <p id="p-result-count" style="margin-top: 0px;"><span id="result-count"></span></p>
   <ul id="suggestion-list"></ul>

   <ul id="post-list"></ul>
</div>

<style>
#result-count {
font-size: 12px;
color: #999999; 
margin-left: 8px;
margin-top: -20px;
}
</style>
<script>
  function goToHomePage() {
    var searchTerm = document.getElementById("search-input").value;
    window.location.href = "/?search=" + encodeURIComponent(searchTerm);
  }
</script>
<script src="/js/search-post.js"></script>
  {% include disqus.html %}
</article>

