name: Feed to social media
on:
  workflow_dispatch:

jobs:
  Feed2SocialMedia:
    runs-on: ubuntu-latest
    steps:
      # NOTE: This action is deprecated/unmaintained as of Oct 2024. Consider finding alternative.
      # TODO: Pin to specific commit SHA - visit https://github.com/lwojcik/github-action-feed-to-social-media/releases
      - name: Feed to social media
        uses: lwojcik/github-action-feed-to-social-media@v2  # SECURITY: Should be pinned to commit SHA
        with:
          feedUrl: 'https://tacticsjournal.com/feed'
          newestItemStrategy: 'latestDate'
          postFormat: "{title}\n\n{link}"
          # Bluesky settings
          blueskyEnable: true
          blueskyPostFormat: "{title}\n\n{link}"
          blueskyHandle: 'tacticsjournal.com'
          blueskyAppPassword: ${{ secrets.BLUESKY }}
          blueskyOwnerHandle: 'tacticsjournal.com'
          blueskyOwnerContact: 'kyle@tacticsjournal.com'
